@page "/danhmucloaisanpham"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject LoaiSanPham_Service loaiSanPham_Service
@inject IToastService ToastService
@inject QlNguoiDung user
@inject QLNguoiDung_Service user_service
@inject QLNguoiDungNhomNguoiDung_Service nguoiDungNhomNguoiDung_service
@inject NavigationManager Navigation

<h2 style="text-align:center;font-weight:bold">Danh mục loại sản phẩm</h2>
<button class="btn btn-success" @onclick="OpenAddModal" style="margin-bottom:10px">
    <span class="oi oi-plus" aria-hidden="true">Thêm loại sản phẩm mới</span>
</button>

@if (dataList == null)
{
    <p><em>Loading......</em></p>
}
else
{
    <TelerikGrid Data="@dataList" Pageable="true" Sortable="true" Height="calc(100vh - 170px)" Resizable="true" Reorderable="true" Class="telerik-grid">
        <GridColumns>
            <GridColumn Field="@nameof(DanhMucLoaiSanPham.MaLsp)" Title="Mã loại sản phẩm" Width="100px" />
            <GridColumn Field="@nameof(DanhMucLoaiSanPham.TenLsp)" Title="Tên loại sản phẩm" Width="100px" />
            <GridColumn Field="@nameof(DanhMucLoaiSanPham.GhiChu)" Title="Ghi chú" Width="100px" />

            <GridCommandColumn Width="180px">
                <GridCommandButton Command="Edit" OnClick="@EditItem">
                    <span class="oi oi-pencil" Width="100px"></span> Sửa
                </GridCommandButton>
                <GridCommandButton Command="Delete" OnClick="@DeleteItem">
                    <span class="oi oi-trash" Width="100px"></span> Xóa
                </GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
}

<div class="modal fade @addModalClass" tabindex="-1" role="dialog" style="@addModalDisplayStyle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#2f8f3a; color:beige">
                <h5 class="modal-title"><b>Thêm mới loại sản phẩm</b></h5>
                <button type="button" class="close" @onclick="CloseAddModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background:#e5d2b8; color:brown">
                <EditForm Model="@loaiSanPham" OnValidSubmit="createLSP">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="MaLSP" class="control-label"><b>Mã loại sản phẩm: </b></label>
                        <InputText class="form-control" @bind-Value=@loaiSanPham.MaLsp />
                        <ValidationMessage For="@(() => loaiSanPham.MaLsp)" />
                    </div>
                    <div class="form-group">
                        <label for="TenLSP" class="control-label"><b>Tên loại sản phẩm: </b></label>
                        <InputText class="form-control" @bind-Value=@loaiSanPham.TenLsp />
                        <ValidationMessage For="@(() => loaiSanPham.TenLsp)" />
                    </div>
                    <div class="form-group">
                        <label for="GhiChu" class="control-label"><b>Ghi chú: </b></label>
                        <InputText class="form-control" @bind-Value=@loaiSanPham.GhiChu />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Thêm loại sản phẩm</button>
                        <button type="button" class="btn btn-secondary" @onclick="CloseAddModal">Đóng</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<div class="modal fade @editModalClass" tabindex="-1" role="dialog" style="@editModalDisplayStyle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#2f8f3a; color:beige">
                <h5 class="modal-title"><b>Cập nhật khu vực trồng</b></h5>
                <button type="button" class="close" @onclick="CloseEditModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background:#e5d2b8; color:brown">
                <EditForm Model="@loaiSanPham" OnValidSubmit="updateLSP">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="MaLSP" class="control-label"><b>Mã loại sản phẩm: </b></label>
                        <InputText class="form-control" @bind-Value=@loaiSanPham.MaLsp />
                        <ValidationMessage For="@(() => loaiSanPham.MaLsp)" />
                    </div>
                    <div class="form-group">
                        <label for="TenLSP" class="control-label"><b>Tên loại sản phẩm: </b></label>
                        <InputText class="form-control" @bind-Value=@loaiSanPham.TenLsp />
                        <ValidationMessage For="@(() => loaiSanPham.TenLsp)" />
                    </div>
                    <div class="form-group">
                        <label for="GhiChu" class="control-label"><b>Ghi chú: </b></label>
                        <InputText class="form-control" @bind-Value=@loaiSanPham.GhiChu />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Cập nhật loại sản phẩm</button>
                        <button type="button" class="btn btn-secondary" @onclick="CloseEditModal">Đóng</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


<div class="modal fade @deleteModalClass" tabindex="-1" role="dialog" style="@deleteModalDisplayStyle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#2f8f3a; color:beige">
                <h5 class="modal-title"><b>Xóa khu vực trồng</b></h5>
                <button type="button" class="close" @onclick="CloseDeleteModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background:#e5d2b8; color:brown; font-size:30px">
                <p style="color:red">Bạn có chắc chắn muốn xóa đơn vị tính này không?</p>
                <EditForm Model="@loaiSanPham" OnValidSubmit="deleteLSP">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="MaLsp" class="control-label">Mã loại sản phẩm: </label>
                        <label><b>@loaiSanPham.MaLsp</b></label>
                    </div>
                    <div class="form-group">
                        <label for="TenLsp" class="control-label">Tên loại sản phẩm: </label>
                        <label><b>@loaiSanPham.TenLsp</b></label>
                    </div>
                    <div class="form-group">
                        <label for="GhiChu" class="control-label">Ghi chú: </label>
                        <label><b>@loaiSanPham.GhiChu</b></label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Xóa loại sản phẩm</button>
                        <button type="button" class="btn btn-secondary" @onclick="CloseDeleteModal">Đóng</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>



@code {
    private List<DanhMucLoaiSanPham> dataList = new List<DanhMucLoaiSanPham>();
    private DanhMucLoaiSanPham loaiSanPham = new DanhMucLoaiSanPham();
    private bool holdten = false;
    private bool holdma = false;

    private string addModalClass = "";
    private string addModalDisplayStyle = "display:none";
    private string editModalClass = "";
    private string editModalDisplayStyle = "display:none";
    private string deleteModalClass = "";
    private string deleteModalDisplayStyle = "display:none";

    private string maLSP;
    private string tenLSP;
    private int userRole;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user.TenDangNhap = await user_service.GetCurrentTenDangNhap();

            if (user.TenDangNhap != "admin")
            {
                userRole = await nguoiDungNhomNguoiDung_service.GetUserRole(user.TenDangNhap, "LSP");

                if (userRole == 0)
                {
                    Navigation.NavigateTo("/Error");
                    return;
                }
            }
            dataList = await loaiSanPham_Service.GetDanhMucLSP();
        }
        catch (Exception e)
        {
            Navigation.NavigateTo("/Error");
        }
    }

    private void OpenAddModal()
    {
        loaiSanPham = new DanhMucLoaiSanPham();
        addModalClass = "show";
        addModalDisplayStyle = "display:block";
    }

    private void CloseAddModal()
    {
        addModalClass = "";
        addModalDisplayStyle = "display:none";
        holdten = false;
        holdma = false;
        StateHasChanged();
    }

    private void OpenEditModal(DanhMucLoaiSanPham item)
    {
        loaiSanPham = new DanhMucLoaiSanPham
            {
                AutoId = item.AutoId,
                MaLsp = item.MaLsp,
                TenLsp = item.TenLsp,
                GhiChu = item.GhiChu
            };
        maLSP = item.MaLsp;
        tenLSP = item.TenLsp;
        editModalClass = "show";
        editModalDisplayStyle = "display:block";
    }

    private void CloseEditModal()
    {
        editModalClass = "";
        editModalDisplayStyle = "display:none";
        holdten = false;
        holdma = false;
        StateHasChanged();
    }

    private void OpenDeleteModal(DanhMucLoaiSanPham item)
    {
        loaiSanPham = new DanhMucLoaiSanPham
            {
                AutoId = item.AutoId,
                MaLsp = item.MaLsp,
                TenLsp = item.TenLsp,
                GhiChu = item.GhiChu
            };
        deleteModalClass = "show";
        deleteModalDisplayStyle = "display:block";
    }

    private void CloseDeleteModal()
    {
        deleteModalClass = "";
        deleteModalDisplayStyle = "display:none";
        holdten = false;
        holdma = false;
        StateHasChanged();
    }

    private async Task createLSP()
    {
        if (await loaiSanPham_Service.IsMaLSPExists(loaiSanPham.MaLsp, "SQLSERVER"))
        {
            holdma = true;
            StateHasChanged();
            ToastService.ShowError("Mã loại sản phẩm đã tồn tại vui lòng nhập lại !");
            return;
        }
        if (await loaiSanPham_Service.IsTenLSPExists(loaiSanPham.TenLsp, "SQLSERVER"))
        {
            holdten = true;
            StateHasChanged();
            ToastService.ShowError("Tên loại sản phẩm đã tồn tại vui lòng nhập lại !");
            return;
        }
        if (await loaiSanPham_Service.AddDanhMucLSP(loaiSanPham))
        {
            ToastService.ShowSuccess("Thêm loại sản phẩm thành công");
            CloseAddModal();
        }
        else
        {
            ToastService.ShowError("Có lỗi xảy ra.");
        }
        dataList = await loaiSanPham_Service.GetDanhMucLSP();
        StateHasChanged();
    }

    private async Task updateLSP()
    {
        if (maLSP != loaiSanPham.MaLsp && await loaiSanPham_Service.IsMaLSPExists(loaiSanPham.MaLsp, maLSP))
        {
            holdma = true;
            StateHasChanged();
            ToastService.ShowError("Mã loại sản phẩm đã tồn tại vui lòng nhập lại !");
            return;
        }
        if (tenLSP != loaiSanPham.TenLsp && await loaiSanPham_Service.IsTenLSPExists(loaiSanPham.TenLsp, maLSP))
        {
            holdten = true;
            StateHasChanged();
            ToastService.ShowError("Tên loại sản phẩm đã tồn tại vui lòng nhập lại !");
            return;
        }
        else
        {
            try
            {
                await loaiSanPham_Service.UpdateDanhMucLSP(loaiSanPham);
                ToastService.ShowSuccess("Cập nhật loại sản phẩm thành công.");
                CloseEditModal();
            }
            catch (Exception ex)
            {
                //throw ex;
                ToastService.ShowError("Có lỗi xảy ra.");
            }
        }

        dataList = await loaiSanPham_Service.GetDanhMucLSP();
        StateHasChanged();
    }

    private async Task deleteLSP()
    {
        if (await loaiSanPham_Service.DeleteDanhMucLSP(loaiSanPham))
        {
            ToastService.ShowSuccess("Xóa loại sản phẩm thành công.");
            CloseDeleteModal();
        }
        else
        {
            ToastService.ShowError("Có lỗi xảy ra.");
        }
        dataList = await loaiSanPham_Service.GetDanhMucLSP();
        StateHasChanged();
    }

    private void EditItem(GridCommandEventArgs e)
    {
        var item = (DanhMucLoaiSanPham)e.Item;
        OpenEditModal(item);
    }

    private void DeleteItem(GridCommandEventArgs e)
    {
        var item = (DanhMucLoaiSanPham)e.Item;
        OpenDeleteModal(item);
    }

}
